###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/*
!/var/.gitkeep
!/var/log
/var/log/*
!/var/log/.gitkeep
/vendor/
/.env
###< symfony/framework-bundle ###

###> danog/madelineproto ###
/public/photo
###< danog/madelineproto ###

###> docker ###
/docker/db/data
/docker/logs
###< docker ###

### JetBrains template
.idea/

###< deploy ###
/config/deploy/parameters.yaml
###> deploy ###

###> tensorflow ###
!/var/tensorflow
/var/tensorflow/*
!/var/tensorflow/models
/var/tensorflow/models/*
!/var/tensorflow/models/poets
/var/tensorflow/models/poets/*
!/var/tensorflow/models/poets/male
/var/tensorflow/models/poets/male/*
!/var/tensorflow/models/poets/male/.gitkeep
!/var/tensorflow/models/poets/people
/var/tensorflow/models/poets/people/*
!/var/tensorflow/models/poets/people/.gitkeep
###< tensorflow ###
