{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% for group in object.groupList %}
        <div>{{ group.title }}({{ group.username }})</div>
    {% endfor %}
{% endblock %}
